{% extends 'admin_nav.html' %}
{% load static %}
{% block content %}

{% if error == "no" %}
     <script>
	   alert('Record Save Successfully');
       window.location=('{% url 'view_patient' %}');
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endif %}

<div style="height: 1rem;"></div>
<div class="container card shadow m-5">
		<div class="card-body">
			<h5 class="p-2" style="border-bottom: 2px solid #5DA9E9">Add Patient</h5>
             <br>
			<div class="container-fluid">
				<form method="post">
                    {% csrf_token %}
					<div class="form-row">

						<div class="col-sm-12">
							<div class="form-group">
								<label>Patient Name</label>
								<input type="text" name="name" class="form-control" placeholder="Enter Doctor Name" required>
							</div>
						</div>

                    	<div class="col-sm-12">
							<div class="form-group">
								<label>Mobile Number</label>
								<input type="text" name="mobile" class="form-control" placeholder="Enter Ten Digit Mobile Number" required>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label>Gender</label>
								<input type="radio" name="gender" value="Male"> Male
								<input type="radio" name="gender" value="Female"> Female
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label>Address</label>
                                <textarea name="address" class="form-control" placeholder="Enter Doctor Specialization" required></textarea>
							</div>
						</div>


                      </div>
					<hr>
					<input type="submit" value="Submit" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
{% endblock content %}