{% extends 'admin_nav.html' %}
{% load static %}
{% block content %}
<div style="height: 1rem;"></div>
<div class="container card shadow m-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid #5DA9E9">Read Queries</h5>
		<div class="container mt-5">
		<h1 class="text-success text-center"></h1>
            <table id="example" class="table table-striped table-bordered" style="width:80%">
			<thead>
                                    <tr>
                                        <th class="text-center">S.No</th>
                                        <th class="d-none d-sm-table-cell">Name</th>
                                        <th class="d-none d-sm-table-cell">Email ID</th>
                                        <th class="d-none d-sm-table-cell">Contact Number</th>
                                        <th class="d-none d-sm-table-cell" style="width: 15%;">Action</th>
                                    </tr>
                                </thead>
                                {% for i in contact %}
                                <tbody>
                                    <tr>
                                        <td class="text-center">{{forloop.counter}}</td>
                                        <td class="font-w600">{{i.name}}</td>
                                        <td class="font-w600">{{i.email}}</td>
                                        <td class="font-w600">{{i.contact}}</td>
                                        <td class="font-w600"><a href="{% url 'view_queries' i.id %}" class="text-primary">View Details</a></td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock content %}

