{% extends 'admin_nav.html' %}
{% load static %}
{% block content %}
<div style="height: 1rem;"></div>
<div class="container card shadow m-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid #5DA9E9">View Appointment</h5>

		<div class="container mt-5">
		<h1 class="text-success text-center"></h1>
		<table id="example" class="table table-striped table-bordered table-sm" style="width:80%">
			<thead>
				<tr>
					<th>Doctor Name</th>
					<th>Patient Name</th>
                    <th>Date</th>
					<th>Time</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
            {% for i in appointment %}
			<tr>
				<td>{{i.doctor}}</td>
				<td>{{i.patient}}</td>
				<td>{{i.date1}}</td>
				<td>{{i.time1}}</td>
				<td><a href="{% url 'delete_appointment' i.id %}" onclick="return confirm('Are you ready to delete this record ?')" class="btn btn-danger">Delete</a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	 </div>
	</div>
</div>
{% endblock content %}